* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    width: 60%;
}
.row {
    margin: 2em;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
}
.heading {
    background: #f8f8f8;
    padding: .5em 1.5em;
    border-bottom: 2px solid #e7e7e7;
}
.contain {
    padding: .75em 1.5em;
}
#form_add, table {
    padding: 2em;
}
.btn_delete {
    padding: .5em;
    color: red;
}
.error {
    color: red;
}
.list_error{
    list-style-type: none
}
#form_del {
    padding: 0;
}
